$positive: red !default;

@import "../../bower_components/ionic/scss/ionic.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.full-height,
.full-height .fa-surface {
    height: 100%
}

.full-width,
.full-width .fa-surface {
    width: 100%
}

.div_1 {
	position: absolute;
	top:100px;
	left: 0;
	height: 120px;
	width: 120px;
	background-color: blue;
	color: #fff;
}

.div_2 {
	position: absolute;
	top: 100px;
	right: 0;
	height: 120px;
	width: 120px;
	background-color: red;
	color: #fff;
}
