<fa-modifier fa-size="[undefined, 44]">
    <fa-surface class="full-height" fa-z-index="10">
        <div class="bar bar-positive bar-header">
            <button class="button button-clear icon ion-navicon" ng-click="barHeaderCtrl.leftClick()"></button>
            <h2  class="title">Left:{{barHeaderCtrl.leftCount}}, Right:{{barHeaderCtrl.rightCount}}</h2>
            <button class="button button-clear" ng-click="barHeaderCtrl.rightClick()">Edit</button>
        </div>
    </fa-surface>
</fa-modifier>


